MONGODB_URI=mongodb://keshav456mehta_db_user:gesVrNEcQC6QAsKd@ac-j0j5a18-shard-00-00.2zakzcm.mongodb.net:27017,ac-j0j5a18-shard-00-01.2zakzcm.mongodb.net:27017,ac-j0j5a18-shard-00-02.2zakzcm.mongodb.net:27017/formaai?ssl=true&replicaSet=atlas-dhnogy-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
PORT=5000